<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../MaterialBroken/Search")
    </div>
</div>
<div>
    @Html.Partial("../MaterialBroken/List")
</div>
@Html.Partial("../MaterialInfo/SelectMaterialInfoNoPagingContainer")
@Html.Partial("../MaterialBroken/ScriptContainer")
