@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../Achievement/AcademicExchangesMeetingSearch")
    </div>
</div>
<div class="layout-center-full">
    @Html.Partial("../Achievement/AcademicExchangesMeetingList")
</div>
<div id="divAcademicExchangesDialog"></div>
@Html.Partial("../Achievement/AcademicExchangesScript")
