.quick-link-box .quick-link li{line-height:46px;}
.edit-info .bdmain .text-box{background: url("images/textbg.gif") no-repeat scroll left -41px transparent;}
.edit-info .bdmain .text-box strong{background: url("images/textbg.gif") no-repeat scroll right -41px transparent;padding: 4px 5px 3px 3px;}
