/*------------ banner-box ------------------------*/
.banner-box{background: url("images/banner.jpg") no-repeat scroll left top #FFFFFF; height:172px;margin-top:25px;}

/*------------ menu-box ------------------------*/
.menu-box{background: url("images/bg-menu.gif") repeat-x scroll left top #FFFFFF;}
a.fg-button:hover, a.fg-button.current,.fg-button-l {background-color: #227400;color: #EEEEEE; }
.menu-box .home-menu a.fg-button{margin:0;border-right: 1px solid #72bb53;border-left:1px solid #236906;}
.menu-box .home-menu a.first{border-left:0;}
.menu-box .home-menu a.last{border-right:0;}

.ui-widget-content {background-color: #227400;border: 1px solid #236906;}
.fg-menu-container a, .fg-menu-container a:link,
.fg-menu-container a:visited,
.fg-menu-container a:active { border: 1px solid #227400;}
.fg-menu-container a.ui-state-hover{border: 1px solid #236906;background-color: #72bb53;}
.fg-button-l .ui-icon {background: url("images/bg-menu-down.png") no-repeat scroll 0 0 transparent;}  
.ui-state-active, .ui-widget-content .ui-state-active {background-color: #227400;}


.home-login-box {background: url("images/home-login-box.gif") no-repeat scroll 0 0 transparent;}  
.main-box-left h2.title{background: url("images/bg-title-left.gif") no-repeat scroll left top transparent;color:#fff;}
.main-box-left .home-login-box h2.title {background: none; color:#fff;}
.main-box-left-xl h2.title{background: url("images/bg-title-left-xl.gif") no-repeat scroll left top transparent;color:#567354;}
.main-box-right-l h2.title{background: url("images/bg-title-right-l.gif") no-repeat scroll left top transparent;color:#fff;}
.main-box-center h2.title{background: url("images/bg-title-center.gif") no-repeat scroll left top transparent;color:#fff;}
.main-box-right-l h2.title a,
.main-box-center h2.title a{color:#fff;}
.main-box-right h2.title a{color:#567354;}
.main-box-right-sl h2.title{background: url("images/bg-title-right-sl.gif") no-repeat scroll left top transparent;color:#567354;}
.main-box-right h2.title{background: url("images/bg-title-right.gif") no-repeat scroll left top transparent;color:#567354;}
.main-box-full h2.title{background: url("images/bg-title-full.gif") no-repeat scroll left top transparent;color:#567354;}
.main-box-right-l .content-box p.parent-item,
.main-box-full .content-box p.parent-item{background:url("images/bg-li-title-200.gif") no-repeat left top;}
.main-box-left .content-box p.parent-item{background:url("images/bg-li-title-200.gif") no-repeat left top;}
.main-box-right-l .home-search-box a.botton{background: url("images/home-search-botton.gif") no-repeat scroll 0 3px transparent;}
.main-box-left h2.title-gray a.current,
.main-box-center h2.title-gray a.current,
.main-box-right h2.title-gray a.current{background: url("images/bg-title-current.gif") repeat-x scroll left top transparent;}

.main-box-right .content-box{padding-left:20px;padding-right:10px;}
.main-box-center .content-box{padding-left:15px;padding-right:15px;}
.main-box-center .content-box ul.news-list li, .main-box-right .content-box ul.news-list li {width: 320px;}
.main-box-center .content-box ul.news-list li.li-num, .main-box-right .content-box ul.news-list li.li-num {width: 310px;}

.background-box-200{background: url("images/bg-box-200.gif") no-repeat scroll left 10px transparent;}
.background-box-233{background: url("images/bg-box-233.gif") no-repeat scroll left 10px transparent;}
.background-box-200 h2.title,
.background-box-233 h2.title {background: none; padding-left: 40px;}
.background-box-233-B{background: url("images/bg-box-233-b.gif") no-repeat scroll left 10px transparent;}
.background-box-233-B h2.title{background: none; }
.background-box-753{background: url("images/bg-box-753.gif") no-repeat scroll left 10px transparent;}
.background-box-753 h2.title{background: none; }

.tici-img{background: url("images/tici.gif") no-repeat scroll left top transparent;border: 1px solid #CCCCCC;height: 433px;margin-top: 10px;}

.footer{background:url("images/bg-foot.gif") repeat-x scroll left top transparent}