@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">@Html.Partial("../EquipmentCustoms/Search")</div>
</div>
<div class="layout-center-full">
    <div>@Html.Partial("../EquipmentCustoms/List")</div>
</div>
@Html.Partial("../EquipmentCustoms/ScriptContainer")