@model com.Bynonco.LIMS.Model.User
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
        <p><span class="icon icon-users"></span>工作组</p>
        @Html.Partial("../User/UserWorkGroupList")
        @Html.Partial("../User/UserWorkGroupOperate")
    </div>
</div>
<script type="text/javascript">
    $(function () {
        doSetUserWorkGroup('@Model.Id');
        $("#divUserWorkGroup").css("width", "auto");
        $("#divUserWorkGroup").css("height", "auto");
        $("#divUserWorkGroup").css("padding-bottom", "20px");
        
    });
</script>