@model com.Bynonco.LIMS.Model.Building
@using com.Bynonco.JqueryEasyUI.Core; 
@if (Model != null)
{
<div id="divBuildingSiteMapEdit">
 <form id="frmBuildingSiteMapEdit" action="#">
    @Html.Hidden("Id", Model == null ? "" : Model.Id.ToString())
    <table class="edit-info">
        <tr>
            <th>上传地图</th>
            <td>
                <input id="fileBuildingSiteMapPic" type="file" name="fileBuildingSiteMapPic" class="addfile" onchange="ajaxFileUploadBuildingSiteMapPic();return false;"/>
            </td>
            <td>  (右键地图"添加设备")</td>
        </tr>
    </table>
  </form>
</div> 
<div id="map" style='height:600px;border:1px solid #ccc'></div>
}