<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>
    <!--<section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>-->
     <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <sectionGroup name="oauth2" type="DotNetOpenAuth.Configuration.OAuth2SectionGroup, DotNetOpenAuth">
        <section name="authorizationServer" type="DotNetOpenAuth.Configuration.OAuth2AuthorizationServerSection, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      </sectionGroup>
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
   </configSections>
  <appSettings>
    
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--校级平台设置，修改需重启IIS生效-->
    <!--是否作为简易版校级平台运行-->
    <add key="IsAsSimpleSchoolPlatForm" value="0" />
    
    
    <!--考试设置，修改需重启IIS生效-->
    <!--考试系统模式-->
    <add key="IsAsExamSystemMode" value="0" />
    <!--考试试卷类型,0:机构,1:设备，多个类型中间逗号分隔-->
    <add key="ExamTypes" value="0"/>
    
    
    <!--自动登记爽约设置，修改需重启IIS生效-->
    <!--定时登记爽约时间间隔，秒为单位-->
    <add key="RegisterInerval" value="60"/>
    <!--每次登记爽约个数，数字建议不要太大,这样可以减少数据库压力-->
    <add key="RegisterCountPerTime" value="10"/>
    <!--需要登记爽约的仪器资产编号，为空为所有设备，多个设备资产编号之间用逗号分隔-->
    <add key="RegisterEquipmentLabels" value=""/>
    <!--自动登记爽约人登录名，建议用超级用户的登录名，这样才不会有权限限制-->
    <add key="RegisterLoginName" value="admin"/>
    <!--预约结束时间过了多少分钟就登记爽约,分钟为单位，可以设置正负值进行灵活调整-->
    <add key="RegisterTimeOutMinutes" value="5"/>


    <!--自动取消预约设置，修改需重启IIS生效-->
    <!--定时取消预约时间间隔，秒为单位-->
    <add key="AutoCancelAppointmentInerval" value="60"/>
    <!--自动取消预约人登录名，建议用超级用户的登录名，这样才不会有权限限制-->
    <add key="AutoCancelAppointmentLoginName" value="cs"/>
    
    
    <!--发送邮件设置，修改需重启IIS生效-->
    <!--最大失败次数，当邮件发送失败次数大于这个设置的次数时，邮件将不进行处理-->
    <add key="SendEmailMaxFailTimes" value="5"/>
    <!--定时发送邮件时间间隔，秒为单位-->
    <add key="SendEmailInerval" value="60"/>
    <!--每次发送的邮件个数，这个节点结合“定时发送邮件时间间隔”节点，可以有效避免部分邮箱由于发邮件过于频繁被拉黑而发不了邮件或者被当作垃圾邮件-->
    <add key="SendEmailCountPerTime" value="10"/>


    <!--发送短息设置，修改需重启IIS生效-->
    <!--最大失败次数，当短息发送失败次数大于这个设置的次数时，邮件将不进行处理-->
    <add key="SendShortMailMaxFailTimes" value="5"/>
    <!--定时发送短息时间间隔，秒为单位-->
    <add key="SendShortMailInerval" value="60"/>
    <!--短信猫所连接的串口端口号-->
    <add key="SendShortMailComPort" value="1"/>
    <!--短信中心号码，默认的是广州的，每个地方的卡短信中心不一样-->
    <add key="SendShortMailShortMessageCenter" value="+8613800200500"/>


    <!--用户信息同步设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="UserSyncMode" value="1"/>
    <!--星期几进行同步，同步模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="UserSyncWeek" value="0,1,2,3,4,5,6"/>
    <!--同步时间，同步模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <add key="UserSyncTime" value="17:45"/>
    <!--用户信息同步设置，同步模式1生效，秒为单位-->
    <add key="UserSyncInerval" value="60"/>
    <!--每次同步用户个数，数字建议不要太大,这样可以减少数据库压力-->
    <add key="UserSyncCountPerTime" value="1000000"/>
    <!--用户同步查询表达式，有需要修改联系研发，否则可能导致同步失败-->
    <add key="UserSyncQueryExpression" value="(LoginName=-null*IsHandled=false)"/>


    <!--浙江大学统一验证用户信息同步设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="ZjdxUserSyncMode" value="1"/>
    <!--星期几进行同步，同步模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="ZjdxUserSyncWeek" value="0,1,2,3,4,5,6"/>
    <!--同步时间，同步模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <!--<add key="UserSyncTime" value="17:45"/>-->
    <add key="ZjdxUserSyncTime" value="09:32,09:25,16:32,09:35"/>
    <!--用户信息同步设置，同步模式1生效，秒为单位-->
    <add key="ZjdxUserSyncInerval" value="40"/>
    <!--每次同步用户个数，数字建议不要太大,这样可以减少数据库压力-->
    <add key="ZjdxUserSyncCountPerTime" value="100"/>
    <!--用户同步查询表达式，有需要修改联系研发，否则可能导致同步失败-->
    <!--<add key="ZjdxUserSyncQueryExpression" value="(LoginName=-null*IsHandled=false)"/>-->

    <!--组织机构同步设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="OrgSyncMode" value="1"/>
    <!--星期几进行同步，同步模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="OrgSyncWeek" value="0,1,2,3,4,5,6"/>
    <!--同步时间，同步模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <add key="OrgSyncTime" value="00:18"/>
    <!--组织机构同步设置，同步模式1生效，秒为单位-->
    <add key="OrgSyncInerval" value="30"/>
    <!--每次同步组织机构个数，数字建议不要太大,这样可以减少数据库压力-->
    <add key="OrgSyncCountPerTime" value="100000"/>
    <!--组织机构同步查询表达式，有需要修改联系研发，否则可能导致同步失败-->
    <add key="OrgSyncQueryExpression" value="IsHandled=false"/>
    
    
    

    <!--课题组项目经费信息同步设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="SubjectProjectIncomeSyncMode" value="0"/>
    <!--星期几进行同步，同步模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="SubjectProjectIncomeSyncWeek" value="0,1,2,3,4,5,6"/>
    <!--同步时间，同步模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <add key="SubjectProjectIncomeSyncTime" value="10:43"/>
    <!--定时项目经费信息同步时间间隔，同步模式1生效，秒为单位-->
    <add key="SubjectProjectIncomeSyncInerval" value="60"/>



    <!--动物自动扣费设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="AnimalAutoDeductMode" value="0"/>
    <!--星期几进行同步，同步模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="AnimalAutoDeductWeek" value="0,1,2,3,4,5,6"/>
    <!--同步时间，同步模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <add key="AnimalAutoDeductTime" value="01:00"/>
    <!--动物自动扣费设置，同步模式1生效，秒为单位-->
    <add key="AnimalAutoDeductInerval" value="60"/>

    <!--上传数据设置，修改需重启IIS生效-->
    <!--同步模式0：到指定时间触发，时间间隔失效，每秒检查是否已经到达指定时间，1：定时触发，根据设置的时间间隔定时轮询-->
    <add key="UploadSyncMode" value="0"/>
    <!--星期几进行上传，上传模式0生效，多个日期中间逗号分隔,格式如0,1,2,3,4,5,6(0代表星期天)-->
    <add key="UploadSyncWeek" value="0,1,2,3,4,5,6"/>
    <!--上传时间，上传模式0生效，多个时间中间逗号分隔,格式如08:00-->
    <add key="UploadSyncTime" value="02:00"/>
    <!--上传数据设置，上传模式1生效，秒为单位-->
    <add key="UploadSyncInerval" value="60"/>
    
    <!--是否启用触摸屏-->
    <add key="IsRunAsTouchScreenMode" value="1" />
  </appSettings>

  <!-- this is an optional configuration section where aspects of dotnetopenauth can be customized -->
  <dotNetOpenAuth>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <oauth2>
      <authorizationServer>
      </authorizationServer>
    </oauth2>

    <!-- Relaxing SSL requirements is useful for simple samples, but NOT a good idea in production. -->
    <messaging relaxSslRequirements="true">
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- since this is a sample, and will often be used with localhost -->
          <add name="localhost"/>
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
  </dotNetOpenAuth>

  <!--<casClientConfig
      casServerLoginUrl="https://sso.labopen.com.cn:8543/cas/login"
      casServerUrlPrefix="https://sso.labopen.com.cn:8543/cas/"
      serverName="http://192.168.10.108:8080"
      notAuthorizedUrl="~/NotAuthorized.aspx"
      cookiesRequiredUrl="~/CookiesRequired.aspx"
      redirectAfterValidation="true"
      gateway="false"
      renew="true"
      singleSignOut="false"
      ticketTimeTolerance="50000000"
      ticketValidatorName="com.Bynonco.LIMS.MVC.CasExtend.ZdCas20ServiceTicketValidator,com.Bynonco.LIMS.MVC"
      proxyTicketManager=""
      serviceTicketManager=""
      gatewayStatusCookieName="" />-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">      
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1073741824" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index" timeout="2880" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpModules>
    </httpModules>
    <customErrors mode="On" defaultRedirect="Error/ErrorIndex">
      <error statusCode="500" redirect="Error/ErrorIndex"/>
      <error statusCode="403" redirect="Error/ErrorIndex"/>
      <error statusCode="404" redirect="Error/ErrorIndex"/>
      <error statusCode="400" redirect="Error/ErrorIndex"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="DotNetCasClient"/>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>-->
    </modules>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
