@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<style>
     #divTotal table tr td{font-size:12px; font-weight:normal}
</style>
 <div id="divSampleStatisticsSearch">
    @Html.Partial("Search")
</div>
<div id="divTotal" class="panel-header" style="border-top:none;background:transparent;min-height:600px">
    @Html.Partial("Total")
</div>
<script type="text/javascript">
    function doSampleTotalSearch() {
        var queryExpression = generateSampleTotalQueryExpress();
        var title = $("ul.tabs li.tabs-selected a span.tabs-title").html();
        doSumTotalSelectChanged(title);
    }
</script>