@model IList<com.Bynonco.LIMS.Model.View.ViewTrainningMaterial>
@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Utility;
@{
    
    DataGridSettings dataGridSettings = (DataGridSettings)ViewData["DataGridSettings"];
    var pageSize = dataGridSettings.PageSize;
    var pageIndex = dataGridSettings.PageIndex;
    var ids = "";
    if (Model != null && Model.Count() > 0)
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model[i];
            ids += (ids == "" ? "" : ",") + item.Id;
            ViewData["MaterialNo"] = (pageIndex - 1) * pageSize + i + 1;
            @Html.Partial("../TrainningMaterial/ViewMaterialInfo", item)
        }
        var pagination = Html.JPagination("PageTrainningMaterialList")
            .SetTotal(dataGridSettings.Total)
            .SetPageSize(dataGridSettings.PageSize)
            .SetPageNumber(dataGridSettings.PageIndex)
            .SetOnSelectPage("doSelectPage(pageNumber, pageSize);");
        @(pagination.ToMvcString()) 
       
    }
    else
    {
        <div class="notification attention" style='margin-top:10px;'>
			<div>没有找到相关培训资料.</div>
		</div>
    }
}
<script type="text/javascript">
    $(function() {
        if (myMaterialReadingTime)
            clearInterval(myMaterialReadingTime);
        myMaterialReadingTime = setInterval("MaterialReadingTimeSave()", 5000);
    });
    function MaterialReadingTimeSave() {
        var ids = '@ids';
        if (ids != "") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("MaterialReadingTimeSave","TrainningMaterial")',
                data: "Ids=" + ids + "&time=" + new Date().getMilliseconds(),
                success: function (msg) {
                    if (msg && msg.indexOf("出错") != -1) {
                        $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                        return false;
                    }
                }
            });
        }
    }
</script>


