@model com.Bynonco.LIMS.Model.View.ViewTrainningMaterial
<div id="divTrainningMaterialView" style="width:700px;height:500px;padding:10px;">
    @Html.Partial("../TrainningMaterial/ViewMaterialInfo", Model)
</div> 
