@model com.Bynonco.LIMS.Model.Business.StatisticsInfo
@if (Model != null && (Model.IsShowManageAuditWaittingOpenFundDepositRecord || Model.IsShowPersonalAuditWaittingOpenFundDepositRecord))
{
    <p><span class="icon icon-cash">&nbsp;</span>开放基金存款</p>
    <table class="edit-info admin-statistics">
        @if (Model.IsShowManageAuditWaittingOpenFundDepositRecord)
        {
            <tr>
                <td class='col-first'><span class="icon icon-globe" title='管理相关' style='margin-right: 0;'>&nbsp;</span></td>
                <th><a href="#" onclick="doLoadAuditWaittingDepositRecord();return false;">开放基金存款申请</a></th>
                <td class="col-last">
                    <a href="#" onclick="doLoadAuditWaittingDepositRecord();return false;">@Model.AuditWaittingOpenFundDepositRecord</a>
                </td>
            </tr>
        }
        @if (Model.IsShowPersonalAuditWaittingOpenFundDepositRecord)
        {
            <tr class='@(Model.IsShowManageAuditWaittingOpenFundDepositRecord ? "nofirst" : "")'>
                <td class='col-first'><span class="icon icon-user" title='个人相关' style='margin-right: 0;'>&nbsp;</span></td>
                <th><a href="#" onclick="doLoadPersonalAuditWaittingDepositRecord();return false;">个人开放基金存款申请</a></th>
                <td class="col-last">
                    <a href="#" onclick="doLoadPersonalAuditWaittingDepositRecord();return false;">@Model.PersonalAuditWaittingOpenFundDepositRecord</a>
                </td>
            </tr>
        }
    </table>
}