@model com.Bynonco.LIMS.Model.View.ViewEquipment
@using com.Bynonco.JqueryEasyUI.Core; 
<div class="layout-center-full">
    <div class="edit-box">
        @Html.Partial("../Equipment/AppointmentSpeciaRuleEdit")
        @Html.Partial("../Equipment/AppointmentSpeciaRuleOperate")
    </div>
</div>