<style type="text/css">
     #divAppointmentTimeDescription ul li{display:inline;}
     #divAppointmentTimeDescription ul li span{line-height:22px; vertical-align:top} 
     #divAppointmentTimeDescription ul li img{height:22px;width:22px} 
</style>
<div id="divAppointmentTimeDescription" style="margin-left:55px">
    <ul>
        <li>
            <img alt="可预约"  src="../../Content/images/ico-validbook.png" />
            <span>可预约</span>
        </li>
        <li>
            <img alt="不可预约" src="../../Content/images/ico-invalidbook.png" />
            <span>不可预约</span>
        </li>
        <li>
            <img alt="已选择" src="../../Content/images/ico-booking.png" />
            <span>已选择</span>
        </li>
        <li>           
            <img alt="自己预约" src="../../Content/images/ico-minebook.png" />
            <span>自己预约</span>
        </li>
        <li>
            <img alt="他人预约" src="../../Content/images/ico-otherbook.png" />
            <span>他人预约</span>
        </li>
    </ul>
</div>