@using com.Bynonco.JqueryEasyUI.Core;
@model com.Bynonco.LIMS.Model.View.ViewEquipment
<div style="height:352px">@Html.Partial("../Equipment/AppointmentTimesClassic")</div>
<div style="margin-top:5px">@Html.Partial("../Equipment/AppointmentTimesDescription")</div>
<div style="margin-top:5px">@Html.Partial("../Equipment/AppointmentTimesDescriptionExtend")</div>
<div>@Html.Partial("../Equipment/AppointmentTimesScript")</div>
