<h2 class="title">分类查询</h2>
<div style='margin-left:10px;overflow-x;hidden;padding-top:10px;'>
    <a href="javascript:;" class="accordion current"><h2 class="title">所属单位</h2></a>
    <div class="content-box" id="divOrg" style='padding-bottom:10px;'></div>
    <a href="javascript:;" class="accordion"><h2 class="title">设备类型</h2></a>
    <div class="content-box" id="divEquipmentCategory" style='padding-bottom:10px;'></div>
    <a href="javascript:;" class="accordion"><h2 class="title">控制方式</h2></a>
    <div class="content-box" id="divControllerType" style='padding-bottom:10px;'></div>
</div>
