@model com.Bynonco.LIMS.Model.View.ViewEquipment
@using com.Bynonco.JqueryEasyUI.Core; 
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
        @Html.Partial("../Equipment/ExaminationSetting")
        @Html.Partial("../Equipment/ExaminationSettingOperate")
    </div>
</div>