@using com.Bynonco.JqueryEasyUI.Core; 
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
        @Html.Partial("../Equipment/ExaminationDefaultSetting")
        @Html.Partial("../Equipment/ExaminationDefaultSettingOperate")
    </div>
</div>