@using com.Bynonco.JqueryEasyUI.Core; 
@model com.Bynonco.LIMS.Model.View.ViewEquipment
<div class="edit-operate">
    @{var equipmentPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name, Model.Id);}
    @Html.JLinkButton("btnSaveExaminationSetting", "保存").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSaveExaminationSetting();return false;").SetVisible(equipmentPrivilige.IsEnableSaveExaminationSetting).ToMvcString()
    @Html.JLinkButton("btnDelete", "删除").SetIconCls("icon-cancel").SetPlain(true).SetVisible(equipmentPrivilige.IsEnableDelete && Model != null).SetOnclick("doDelete();return false;").ToMvcString()
    @Html.JLinkButton("btnBack", "返回").SetIconCls("icon-back").SetPlain(true).SetOnclick("doBack();return false;").ToMvcString()
</div>
<script type="text/javascript">
    function doSaveExaminationSetting() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveExaminationSetting","Equipment")' + "?date=" + new Date().getMilliseconds(),
            data: $("#frmEquipmentEdit").serialize(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: "保存成功", showType: 'show' });
            }
        });
        return false;
    }
</script>