@model com.Bynonco.LIMS.Model.View.ViewEquipment
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
        @Html.Partial("../Equipment/Icon")
    </div>
</div>