@model com.Bynonco.LIMS.Model.View.ViewEquipmentRepair
@{
    Layout = ViewBag.Layout;
}
<div style="background-color:#F8F8F8;">
    <div>@Html.Partial("../Equipment/RepairBasic")</div>
    <div>@Html.Partial("../Equipment/RepairOperate")</div>
</div>

