@using com.Bynonco.JqueryEasyUI.Core; 
@model com.Bynonco.LIMS.Model.View.ViewEquipment
<div class="edit-operate">
    @{var equipmentPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetEquipmentPrivilige(User.Identity.Name, Model.Id);}
    @Html.JLinkButton("btnSaveSampleSetting", "保存").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSaveSampleSetting();return false;").SetVisible(equipmentPrivilige.IsEnableSaveSampleSetting).ToMvcString()
    @Html.JLinkButton("btnDelete", "删除").SetIconCls("icon-cancel").SetPlain(true).SetVisible(equipmentPrivilige.IsEnableDelete && Model != null).SetOnclick("doDelete();return false;").ToMvcString()
    @Html.JLinkButton("btnBack", "返回").SetIconCls("icon-back").SetPlain(true).SetOnclick("doBack();return false;").ToMvcString()
</div>
<script type="text/javascript">
    function doSaveSampleSetting() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var useDefaultIsAcceptSampleTest = $("#UseDefaultIsAcceptSampleTest").attr("checked");
        var isDefaultIsAcceptSampleTest = useDefaultIsAcceptSampleTest ? true : false;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSampleSetting","Equipment")' + "?date=" + new Date().getMilliseconds(),
            data: $("#frmSampleSettingEdit").serialize() + "&UseDefaultIsAcceptSampleTest=" + isDefaultIsAcceptSampleTest+ "&SampleSendTimes=" + getSelectedWorkTimeIds() + "&SampleSendWorkDays=" + getWorkDays(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: "保存成功", showType: 'show' });
            }
        });
        return false;
    }
</script>