@model com.Bynonco.LIMS.Model.View.ViewEquipment

@{
    ViewBag.Title = Model == null ? "设备浏览" : Model.Name;
    Layout = "~/Views/Shared/_OneColumnLayout.cshtml";
}
@section ImportCssAndJs
{
    <link rel="stylesheet" href="@Url.Content("~/JqueryPlugin/JqueryZoom/css/jquery.jqzoom.css")" type="text/css">
    <script src="@Url.Content("~/JqueryPlugin/JqueryZoom/js/jquery.jqzoom-core.js")" type="text/javascript"></script>
}
@section MainFull
{
    <div class="content-box" style="background:none;padding:0;">
        @Html.Partial("../Equipment/ShowInfoContainer")
    </div>
}