<a href="javascript:;" class="accordion current"><h2 class="title">组织机构</h2></a>
<div class="content-box" id="divOrg" style='padding-bottom:10px;'></div>
<a href="javascript:;" class="accordion"><h2 class="title">设备分类</h2></a>
<div class="content-box" id="divEquipmentCategory" style='padding-bottom:10px;'></div>
<a href="javascript:;" class="accordion"><h2 class="title">控制方式</h2></a>
<div class="content-box" id="divControllerType" style='padding-bottom:10px;'></div>
<a href="javascript:;" class="accordion"><h2 class="title">放置地点</h2></a>
<div class="content-box" id="divRoom" style='padding-bottom:10px;'></div>
