@using com.Bynonco.JqueryEasyUI.Core; 
<div id="divSampleApplyReportNumberDeleteInput"> 
<form id="frmSampleApplyReportNumberDeleteInput" action="#">
    <table class="edit-table">
        <tr>
            <th><span class="required">*</span>删除原因</th>
            <td>
                @Html.TextArea("LogContent", "", 3, 50, null)
            </td>
        </tr>
    </table>
  </form>
</div>