@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SampleQrCodePrint</title>
</head>
<body>
    <div>
        <ActiveReportsWeb:WebViewer ID="WebViewer1" runat="server" height="559px"    width="100%" onload="WebViewer1_Load" ViewerType="AcrobatReader">

</ActiveReportsWeb:WebViewer>
    </div>
</body>
</html>
