@model com.Bynonco.LIMS.Model.View.ViewEquipment
<div id="divAppointmentTimesContainer" style="overflow:hidden">
    <div id="divAppointmentTimesLoad">
        <div>@Html.Partial("../Equipment/AppointmentTimesOperate")</div>
        <div>@Html.Partial("../Equipment/AppointmentTimes")</div>
        <div style="margin-top:5px">@Html.Partial("../Equipment/AppointmentTimesDescription")</div>
        <div>@Html.Partial("../Equipment/AppointmentTimesScript")</div>
    </div>
</div>
