<style type="text/css">
    div.panel-title{color:Black;}
</style>
<div id="divSampleApplyReportContainer">
    <div style="width:750px">@Html.Partial("SampleApplyReportNumberList")</div>    
    <div style="width:750px">@Html.Partial("SampleApplyReportNumberLogList")</div>  
</div>