@using com.Bynonco.JqueryEasyUI.Core;
<div id="divSampleBusinessTypeContainer"></div>
<div style="padding:10px" id="divSampleBusinessTypeDialog">
    <span style="font-size:13px; font-weight:bold; padding-left:5px">请选择送样申请单类型</span>
    <span id="spanSampleBusinessType" style="font-size:13px; font-weight:bold; padding-left:5px">
        @Html.JComboBox("SampleBusinessType").SetMutiSelect(false).SetWidth(200).SetData(ViewData["SampleBusinessTypeJson"]).ToMvcString()
    </span>
</div>
<script type="text/javascript">
    var sampleBusinessTypeDialog;
    function showSelectSampleBusinessTypeDialog() {
        var itemCount = !$("#SampleBusinessType").combobox("options").data ? 0 : $("#SampleBusinessType").combobox("options").data.length;
        if(itemCount==0) return;
        if(itemCount==1){
            doSelectSampleBusinessTypeFinish();
            return;
        }
        if (sampleBusinessTypeDialog) {
            sampleBusinessTypeDialog.dialog("destroy");
        }
        sampleBusinessTypeDialog = @(Html.JDialog("divSampleBusinessTypeDialog").SetTitle("选择送样申请单类型").SetIconCls("icon-save").SetAutoDialog(false).SetOkScript("doSelectSampleBusinessTypeFinish();").SetCancelScript("sampleBusinessTypeDialog.dialog('close');return false;").SetModal(true).ToMvcString());
    }
    function doSelectSampleBusinessTypeFinish() {
        if (typeof (doSelectSampleBusinessTypeCallBack) == "function") {
            var selectedSampleBusinessType = $("#SampleBusinessType").combobox("getValue");
            if (!selectedSampleBusinessType || selectedSampleBusinessType.trim() == "") {
                $.messager.alert('提示', "请选择送样申请单类型", 'warning');
                return false;
            }
            doSelectSampleBusinessTypeCallBack(selectedSampleBusinessType);
        }
        return false;
    }
</script>