@model com.Bynonco.LIMS.Model.View.ViewSampleApply
@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<div style="background-color:#F8F8F8;">
    <div>@Html.Partial("../SampleManage/ZJDXNMXYSampleApplyInfoInner")</div>
    <div>@Html.Partial("../SampleManage/SampleApplyOperateInner")</div>
</div>


