@using com.Bynonco.LIMS.Model.Enum
@{
    if (Request["XPath"] != null && Request["XPath"].Length > 3)
    {
        Html.RenderPartial("Index");
        return;
    }
    Layout = null;
    var version = ViewData["FileVersion"] == null ? "" : ViewData["FileVersion"].ToString().Trim();
    var dateTime = DateTime.Now;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>北京大学医学部大型仪器共享平台</title>
    <link href="/html/resources/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/html/resources/css/style.css" rel="stylesheet">
    <link href="/html/resources/images/imagesUrl.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="/html/resources/plugins/bootstrap-3.3.5/js/html5shiv.min.js"></script>
      <script src="/html/resources/plugins/bootstrap-3.3.5/js/respond.min.js"></script>
    <![endif]-->
    <script src="/html/resources/js/jquery-1.11.3.js"></script>
    <script src="/html/resources/plugins/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"></div>
            <div class="themeTitle">北京大学医学部大型仪器预约共享平台</div>
        </div>
    </header>
    <div class="banner"></div>
    <div class="container mainContent">
        <div class="row">
            <div class="col-md-3 navLink">
                <ul class="linkUl">
                    <li>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="linkLogo link1"></div>
                            </div>
                            <div class="col-md-8 text-center">
                                <a href="/?XPath=000000">医药卫生分析中心<br />
                                    子平台</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="linkLogo link2"></div>
                            </div>
                            <div class="col-md-8 text-center">
                                <a href="http://skl.bjmu.edu.cn/?XPath=000000">天然药物及仿生药物国家重点实验子平台</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 contents">
                <h3>平台介绍</h3>
                <div class="row">
                    <div class="col-md-5">
                        <img src="/html/resources/images/img-ind.png" width="100%">
                    </div>
                    <div class="col-md-7 ind">
                        @Html.Partial("ArticleFrame", ArticleCategoryHomeLocation.SecondLineCenter)
                    </div>
                </div>
                <h3>公告通知</h3>
                <div class="row">
                    <div class="col-md-5">
                        <img src="/html/resources/images/img-ntc.png" width="100%">
                    </div>
                    <div class="col-md-7 ntc">
                        @Html.Partial("ArticleFrame", ArticleCategoryHomeLocation.FirstLineRight)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center copy">@(version) Copyright &copy; @(dateTime.Year) <a href='http://www.bynonco.com' target="_blank">广州佰能信息科技有限公司</a>.</div>
            </div>
        </div>
    </footer>
</body>
</html>
