@using com.Bynonco.LIMS.Utility;
@{
    var orgXPath = ViewData["OrgXPath"] == null || ViewData["OrgXPath"] == "" ? "000" : ViewData["OrgXPath"].ToString();
    object routeCurrentXPathValue = new { XPath = orgXPath };
    var orgName = ViewData["OrgName"] == null ? "" : ViewData["OrgName"].ToString();
    var orgLogo  = ViewData["OrgLogo"];
}
<div class='banner-box' style="margin:0;">
    <div class='logo-box' style="width:100%; padding:0; margin:0; margin-top:10px; overflow:inherit;">
        <a  href='@Url.Action("Index", "Home", routeCurrentXPathValue)' class='logo'>
            <img src="@Url.Content("~/" + orgLogo)" alt='@(orgName + "首页")' />
        </a>
    </div>
</div>
