@using com.Bynonco.LIMS.Utility;
@{
    var orgXPath = ViewData["OrgXPath"] == null || ViewData["OrgXPath"] == "" ? "000" : ViewData["OrgXPath"].ToString();
    var hotEquipmentList = ViewData["HotEquipmentList"] == null ? null : (List<com.Bynonco.LIMS.Model.View.ViewEquipmentTotal>)ViewData["HotEquipmentList"];
}
<div class='banner-box'>
    <div class='top-search-box'>
        <div class='search-input-box'>
            <input type="text" id='topSearchEquipmentName' />
            <a href="#" onclick='doTopSearchEquipment();return false;'>&nbsp;</a>
        </div>
        <div class='hot-search-box'>
            <span>热门搜索:&nbsp;</span>
            @if (hotEquipmentList != null && hotEquipmentList.Count() > 0)
            {
                for (int i =0 ;i <hotEquipmentList.Count() && i < 2; i++)
                {
                    var item = hotEquipmentList[i];
                    var url = Url.Action("Show", "Equipment", new { Id = item.Id, XPath = orgXPath });
                    <a href='@url' title='@item.EquipmentName'>@ShortcutStringUtility.GetSubString(item.EquipmentName,20,"")</a>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function doTopSearchEquipment() {
        if ($("#topSearchEquipmentName").val().trim() != "") {
            var url = '@Url.Action("ShowList", "Equipment", new { XPath = orgXPath })' + "&EquipmentName=" + $("#topSearchEquipmentName").val().trim();
            url = encodeURI(url);
            location.href = url;
        }
    }

</script>