@using com.Bynonco.LIMS.Model.Enum;
<div class="main-box-second-line">
    <div class="main-box-second-line-left">
     @{ViewData["SubTitleLength"] = 35;}
    @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineLeft)
    </div>
    <div class="main-box-second-line-middle">
     @{ViewData["SubTitleLength"] = 35;}
    @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineCenter)
    </div>
    <div class="main-box-second-line-right">
     @{ViewData["SubTitleLength"] = 35;}
    @Html.Partial("../Home/Article", ArticleCategoryHomeLocation.SecondLineRight)
    </div>
</div>




