@using com.Bynonco.JqueryEasyUI.Core;

<div class="layout-center-full">
    @Html.Partial("../Message/DraftList")
</div>
<div id="divViewMessageDialog"></div>
@Html.Partial("../Message/ScriptContainer")
