@{
    Layout = ViewBag.Layout;
    var isPopDialog = ViewData["IsPopDialog"] == null ? false : bool.Parse(ViewData["IsPopDialog"].ToString());
    var equipmentId = ViewData["EquipmentId"] == null ? "" : ViewData["EquipmentId"].ToString();
    var queryExpression = ViewData["QueryExpression"] == null ? "" : ViewData["QueryExpression"].ToString();
}
<div id='divEquipmentTrainningList' style='@(isPopDialog ? "width:800px;" : "")'>
    <div class="search-grid hide" style="width:280px">
        <div class="search-inner-box">
            @Html.Partial("../Equipment/TrainningSearch")
        </div>
    </div>
    <div class="layout-center-full">
        @Html.Partial("../Equipment/TrainningList")
    </div>
    @Html.Partial("../Equipment/TrainningScriptContainer")
</div>
