
<div id="divEquipmentRelationHelp"> 
    <table class="edit-table" style="width:300px;">
        <tr>
            <th>新增</th>
            <td>"仪器设备-编辑-基本信息"<br />字段【关联机构】添加机构名称</td>
        </tr>
        <tr>
            <th>所属机构</th>
            <td>仪器设备本身所属的机构</td>
        </tr>
        <tr>
            <th>关联机构</th>
            <td>仪器设备将在关联机构中同步显示</td>
        </tr>
        <tr>
            <th>关联条件</th>
            <td>审核通过</td>
        </tr>
    </table>
</div>