@model com.Bynonco.LIMS.Model.Business.SystemRunSetting
@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
       @Html.Partial("../SystemRunSetting/Setting")
    </div>
</div>