
.college-box { height: 304px;}
.college-box .college-list{line-height:29px;}
.college-box .college-list li{background:url("images/bg-menu-right.png") no-repeat scroll 10px 8px transparent;}
.college-box .college-list li.current{background:url("images/bg-menu-right-current.png") no-repeat scroll 10px 8px #FFFFFF;}
.quick-link-box{ height: 138px;}
.quick-link-sample{display:none;}
.quick-link-appointment{display:none;}

.main-box-left h2.title-gray a.current, .main-box-center h2.title-gray a.current, .main-box-right h2.title-gray a.current {
    background: url("images/bg-title-current.gif") repeat-x scroll left top transparent;
}