@model com.Bynonco.LIMS.Model.MaterialPurchase
<div id="divMaterialPurchaseInputReject">
    @Html.Partial("../MaterialPurchase/ViewInfo",Model)
    <form id="frmMaterialPurchaseInputReject" action="#">
    @Html.Hidden("Id", Model == null ? "" : Model.Id.ToString())
    <table id="tdMaterialPurchaseInputReject" class="edit-table"  style="width:730px;height:auto">
    <tr>
        <th>验收入库意见</th>
        <td colspan='3'>
            @Html.TextArea("AuditInputRemark", Model == null ? "" : Model.AuditInputRemark, new { style = "width:96%;height:80px" })
        </td>
    </tr>
    </table>
    </form>
</div>