@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
@Html.Partial("../Appointment/AppointmentScheduleHeader")
<div class="layout-center-full">
    <div id="divAppointmentSchedule">
    </div>
</div>
@Html.Partial("../Appointment/ScriptContainer")
@Html.Partial("../Appointment/AppointmentScheduleScript")