<div style="width:800px;height:500px;font-size: 14px;line-height: 25px; padding:5px" id="divViewAgreement" >
    @System.Web.Mvc.MvcHtmlString.Create(ViewData["Agreement"] == null ? "" : ViewData["Agreement"].ToString())
</div>

