<style type="text/css">
 ul.forgetpassword li.forgetpassword-button{
    padding: 0px; 
    width: 252px; 
    height: 42px; 
    line-height: 42px; 
    margin: 10px 0px 0px 118px;
}
 ul.forgetpassword li.forgetpassword-button a {
    background-color: #666;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0;
    padding: 10px 73px;
}
</style>

<ul class='forgetpassword'>
    <li class="forgetpassword-button">
        <a href="javascript:void(0)" onclick="doSaveForgetPassword();return false;" title="找回密码">&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;</a>
    </li>
</ul>
<script type="text/javascript">
    var cnt = 5;
    function hideSubmitButton() {
        if (cnt == 0) {
            $(".forgetpassword-button").find("a").removeClass("hide");
            $("#Label").val("");
            $("#Email").val("");
        }
        else if (cnt > 0) {
            $(".forgetpassword-button").find("a").addClass("hide");
        }
        cnt--;
        setTimeout("hideSubmitButton()", 1000);
    }
    function doSaveForgetPassword() {
        $(".text-over").removeClass('text-over');
        var isOk = true;
        if ($("#Label").val().trim() == "") {
            $("#Label").parents(".edit-info").find(".errormt").removeClass("hide");
            isOk = false;
        }
        if ($("#Email").val().trim() == "" || !$("#Email").validatebox("isValid")) {
            $("#Email").parents(".edit-info").find(".errormt").removeClass("hide");
            isOk = false;
        }
        if (!isOk) return;
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveForgetPassword", "Account")',
            data: $("#frmForgetPassword").serialize() + "&date=" + new Date().getMilliseconds(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    return false;
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                }
                $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                cnt = 5;
                hideSubmitButton();
            }
        });
        return false;
    }

</script>