@using com.Bynonco.JqueryEasyUI.Core; 
<form id="frmForgetPassword" action="#">
<div class="edit-info">
    <div class="tit"><em>*</em>注册登录名</div>
    <div class="bdmain">
        <div class="text-box">
            <strong>
                @Html.JValidateBox("Label").SetWidth(230).SetHeight(27).AddClass("textinp").ToMvcString()
            </strong>
        </div>
    </div>
    <div class="msg">
        <div class="errormt hide"><i></i><span id="infoLoginNameMsg">请输入登录名</span></div>
        <div class="success hide"><i class="checking" id="icoLoginNameMsg"></i></div>
    </div>
</div>
<div class="edit-info">
    <div class="tit"><em>*</em>注册邮箱</div>
    <div class="bdmain">
        <div class="text-box">
            <strong>
                @Html.JValidateBox("Email").SetWidth(230).SetHeight(27).AddClass("textinp").SetValidateType(ValidateType.email).ToMvcString()
            </strong>
        </div>
    </div>
    <div class="msg">
        <div class="errormt hide"><i></i><span id="infoEmailMsg">请输入邮箱</span></div>
        <div class="success hide"><i class="pass" id="icoEmailMsg"></i></div>
    </div>
</div>
</form>