@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewBag.Title = "注册";
}
@section MainLeft
{
    <h2 class="title">注册</h2>
    <div class="content-box register-box" style='padding:15px 50px;'>
        @Html.Partial("../Account/RegisterBasic")
        @Html.Partial("../Account/RegisterOperate")
    </div>
}
@section MainRight
{
    <div>
        <h2 class="title">已有注册账号 ?</h2>
        <div class="content-box" style="text-align:center;height:300px;">
            <a href="@Url.Action("Index","Home")" class="botton">
                <span>
                    <span>立即登录</span>
                </span>
            </a>
        </div>
    </div>
}