<div class="edit-operate hide">
    <a title="帐号登录" style=' background: url("../../Content/Home/images/bg_01.gif") no-repeat scroll 0 0 transparent;color: #FFFFFF;display: block;float: left;height: 19px;line-height: 19px;margin-right: 10px;padding-left: 4px;width: 52px;' onclick="toLimsLogin();return false;" href="javascript:void(0)">
        <span>
            <span>外网登录</span>
        </span>
    </a>
</div>