@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">@Html.Partial("Search")</div>
</div>
<div>@Html.Partial("MySelfAppointmentList")</div>
<div>@Html.Partial("ScriptContainer")</div>
<script type="text/javascript">
    function doSearch() {
        var queryExpression = generateQueryExpress();
        $("#tbMySelfAnimalAppointmentList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbMySelfAnimalAppointmentList").datagrid("reload", { "queryExpression": queryExpression.trim(), "time": new Date().getMilliseconds() });
        return false;
    }
</script>
