@model com.Bynonco.LIMS.Model.BalanceAccount
@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
<div id="divUnCloseBalanceTotalDetail" style="height:635px;width:900px;overflow:hidden">
    <div>@Html.Partial("../BalanceAccount/PayerCloseViewCostDeductList")</div>
</div>