@using com.Bynonco.JqueryEasyUI.Core;
@using com.Bynonco.LIMS.Model.Enum;
@{
    Layout = ViewBag.Layout;
    
}
 <div class="search-grid hide" style="width:300px">
    <div class="search-inner-box">
        @Html.Partial("../EquipmentApply/EquipmentApplySearch")
    </div>
</div>
<div>@Html.Partial("../EquipmentApply/LabRoomDirectorAuditList")</div>  
<div>@Html.Partial("../EquipmentApply/ScriptContainer")</div>     
<script type="text/javascript">
    function doSearch() {
        var queryExpression = generateQueryExpression();
        $("#tbLabRoomDirectorAuditIndexList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbLabRoomDirectorAuditIndexList").datagrid("reload", { "queryExpression": queryExpression.trim(), "time": new Date().getMilliseconds() });
        return false;
    }
    function generateSelectedEquipmentApplyIds() {
        var ids = [];
        var rows = $("#tbLabRoomDirectorAuditIndexList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids.toString();
    }
</script>