<div id="divAnimalDetail"  style="width:825px;height:588px;overflow:hidden">
    @Html.Partial("AnimalDetailInfoList")
</div>
<div style="display:none;">@Html.Partial("../Animal/ScriptContainer")</div>