@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-left">
    @Html.Partial("../JudgeProject/List")
</div>
<div class="layout-center-right">
    <div class="layout-center-full">
        @Html.Partial("../JudgeProject/ContentList")
    </div>
</div>
<div class="clear-both"></div>
@Html.Partial("../JudgeProject/ScriptContainer")
