@model com.Bynonco.LIMS.Model.View.ViewTrainningQuestion
<div id="divTrainningQuestionView" style="width:700px;height:500px;padding:10px;">
    @Html.Partial("../TrainningQuestion/ViewQuestionInfo", Model)
</div> 
