@model com.Bynonco.LIMS.Model.View.ViewNMP
@using com.Bynonco.JqueryEasyUI.Core; 
<div class="layout-center-full">
    <div class="edit-box">
        @Html.Partial("../NMP/AppointmentSpeciaRuleEdit")
        @Html.Partial("../NMP/AppointmentSpeciaRuleOperate")
    </div>
</div>