@using com.Bynonco.JqueryEasyUI.Core; 
@model com.Bynonco.LIMS.Model.View.ViewNMP
@{
    var nmpPrivilige = Model != null ?
            com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name) :
            com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetNMPPrivilige(User.Identity.Name, Model.Id);}
<div class="edit-operate">
    @Html.JLinkButton("btnSaveAppointmentSpeciaRule", "保存").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSaveAppointmentSpeciaRule();return false;").SetVisible(nmpPrivilige.IsEnableSaveAppointmentSpeciaRule).ToMvcString()
    @Html.JLinkButton("btnDeleteAppointmentSpeciaRule", "删除").SetIconCls("icon-cancel").SetPlain(true).SetVisible(nmpPrivilige.IsEnableDeleteAppointmentSpeciaRule && Model != null &&　Model.GetNMP().AppointmentSpeciaRule != null).SetOnclick("doDeleteAppointmentSpeciaRule();return false;").ToMvcString()
</div>
<script type="text/javascript">
    function doSaveAppointmentSpeciaRule() {
        var nmpId = $("#NMPId").val();
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAppointmentSpeciaRule","NMP")' + "?date=" + new Date().getMilliseconds() ,
            data: $("#frmAppointmentSpeciaRuleEdit").serialize() + "&NMPId=" + nmpId,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: "保存成功", showType: 'show' });
            }
        });
        return false;
    }
    function doDeleteAppointmentSpeciaRule() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        var appointmentSpeciaRuleId = $("#NMPAppointmentSpeciaRuleId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteAppointmentSpeciaRule","NMP")' + "?date=" + new Date().getMilliseconds() + "&NMPAppointmentSpeciaRuleId=" + appointmentSpeciaRuleId,
            success: function (msg) {
                $.messager.progress('close');
                if (msg && (msg.indexOf("出错") != -1)) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: "删除成功", showType: 'show' });
                doReload($("#EquipmentId").val());
            }
        });
        return false;
    }
</script>