@model com.Bynonco.LIMS.Model.View.ViewNMP
<div class="layout-center-full">
    <div class="edit-box">
        <form id="frmNMPEdit" action="#">
            @Html.Partial("Basic")
            @Html.Partial("BasicOperate")
        </form>
    </div>
</div>