@model com.Bynonco.LIMS.Model.View.ViewNMP
<ul style="border-bottom:0;" class="tabs">
    <li class="tabs-selected"><a href="javascript:void(0)" class="tabs-inner"><span class="tabs-title">信息</span><span class="tabs-icon"></span></a></li>
</ul>
<div id="divShowBasic" class="detail-info">
    @Html.Partial("../NMP/ShowBasic")
</div>