@using com.Bynonco.JqueryEasyUI.Core; 
<div class="layout-center-full" id="divViewCostDeductStatistics" style='width:800px;overflow-x:auto;'>
    @Html.Partial("../Statistics/CostDeductDetailList")
</div>
<div style="display:none">@Html.Partial("../UsedConfirm/ScriptContainer")</div>
<div style="display:none">@Html.Partial("../Appointment/ViewAppointmentInfoScript")</div>