<div class='layout-center-full'> 
    <div style="border:1px solid #D3D3D3;padding:10px 20px;_padding:10px 20px 0;"> 
        @Html.Partial("../EquipmentStatistics/Search")
    </div>
    <div style="height:10px;background-color:#ECEDF1;"></div>
    <div>
        @Html.Partial("../EquipmentStatistics/List")
    </div>
    @Html.Partial("../EquipmentStatistics/ScriptContainer")
</div>