@using com.Bynonco.JqueryEasyUI.Core; 
<div class="layout-center-full" id="divViewSampleApplyStatistics" style='width:800px;overflow-x:auto;'>
    @Html.Partial("../SampleStatistics/SampleApplyList")
</div>
<div style="display:none">@Html.Partial("../UsedConfirm/ScriptContainer")</div>