@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../BenefitEvaluation/Search")
    </div>
</div>
@Html.Partial("../BenefitEvaluation/List")
@Html.Partial("../BenefitEvaluation/ScriptContainer")
