@using com.Bynonco.JqueryEasyUI.Core;
<div class="edit-operate">
    @Html.JLinkButton("btnSaveBasic", "保存").SetIconCls("icon-save").SetPlain(true).SetOnclick("doSaveEquipmentExtend();return false;").ToMvcString()
</div>
<script type="text/javascript">
    function doSaveEquipmentExtend() {
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $.ajax({
            type: "POST",
            url: '@Url.Action("Save", "EquipmentExtend")' + "?date=" + new Date().getMilliseconds(),
            data: $("#frmEquipmentExtendEdit").serialize(),
            success: function (msg) {
                $.messager.progress('close');
                if (msg && msg.indexOf("出错") != -1) {
                    $.messager.show({ title: '提示', msg: msg, showType: 'show' });
                    return false;
                }
                $.messager.show({ title: '提示', msg: msg, showType: 'show' });
            }
        });
    }
</script>