@using com.Bynonco.JqueryEasyUI.Core;
<div id="divImportExcelDialog"></div>
<script type="text/javascript">
    var importExcelDialog;
    function doImportExcelDialog() {
        if (importExcelDialog) {
            importExcelDialog.dialog("destroy");
        }
        importExcelDialog =  @(Html.JDialog("divImportExcel")
            .SetTitle("导入仪器信息")
            .SetIconCls("icon-import")
            .SetAutoDialog(false)
            .SetShowCancelButton(false)
            .SetShowOkButton(false)
            .SetModal(true)
            .AddButton(new ToolBarButton() { Handler = "importExcelDialog.dialog('destroy');return false;", Id = "btnClosedImportExcel", Text = "关闭", IconCls = "icon-cancel" })
            .ToMvcString());
    }
    function doImportExcel(){
        var url = '@Url.Action("ImportExcel","EquipmentExtend")';
        $.messager.progress({ title: '提示', msg: '正在提交请求,请稍候……' });
        $("#divImportExcelDialog").load(url,function(){
            doImportExcelDialog();
            $.messager.progress('close');
        })
        return false;
    }

    function ajaxFileUploadEquipmentExtendExcel() {           
        var file = $("#fileEquipmentExtendExcel").val();
        if (!doValidatesEquipmentExtendExcel(file)) return false;
        $("#fileEquipmentExtendExcel").ajaxStart(function () {
            $.messager.progress({ title: '提示', msg: '正在上传附件,请稍候……' });
        });
        $.ajaxFileUpload({
            url: '@Url.Action("UploadEquipmentExtendExcel", "EquipmentExtend")' + "?date=" + new Date().getMilliseconds(),
            secureuri: false,
            fileElementId: 'fileEquipmentExtendExcel',
            success: function (data, status) {
                $.messager.progress('close');
                $("#divImportExcelResult").load('@Url.Action("ImportExcelResult","EquipmentExtend")',function(){})
            },
            error: function (data, status, e){
                $.messager.show({ title: '提示', msg: "添加失败", showType: 'show' });
            }
        });
        return false;
    }
    function doValidatesEquipmentExtendExcel(file) {
        if (file == "") {
            $.messager.show({ title: '提示', msg: "请选择要上传的文件", showType: 'show' });
            return false;
        }
        return true;
    }
</script>