@model com.Bynonco.LIMS.Model.EquipmentSampleFeedBackSetting
@using com.Bynonco.JqueryEasyUI.Core; 
<div id="divEquipmentSampleFeedBackSettingEdit"> 
<form id="frmEquipmentSampleFeedBackSetting" action="#">
    @Html.Hidden("Id",Model == null ? "" : Model.Id.ToString())
    <table id="tbEquipmentSampleFeedBackSettingEdit" class="edit-table">
        <tr>
            <th>设备名称</th>
            <td id="tdEquipmentId">
                @(Html.TokenInput("EquipmentId")
                .SetUrl(Url.Action("GetUserManagementEquipmentListByKeyWord", "Equipment"))
                .SetPrePopulate(ViewData["EquipmentJson"] == null || string.IsNullOrWhiteSpace(ViewData["EquipmentJson"].ToString()) ? null : ViewData["EquipmentJson"].ToString())
                .SetSingle(true)
                .ToMvcString())
            </td>
        </tr>
        <tr>
            <th>组织机构</th>
            <td id="tdOrganizationId">
                @Html.DropDownList("OrganizationId", (IEnumerable<SelectListItem>)ViewData["OrganizationSelectListItem"], new { style = "width:305px" })
            </td>
        </tr>
    </table>
  </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#tdEquipmentId ul.token-input-list-facebook").css("width", "302px");
    });
</script>