@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../JudgeEquipmentRecord/Search")
    </div>
</div>
<div>
    @Html.Partial("../JudgeEquipmentRecord/List")
</div>
@Html.Partial("../JudgeEquipmentRecord/ScriptContainner")
