@using com.Bynonco.JqueryEasyUI.Core;
<script type="text/javascript">
    function generateSJ4QueryExpress() {
        var queryExpression = "";
        return queryExpression;
    }
   
    function doReset() {
        return false;
    }
</script>
<ul class="search">
    <li class="button">
        @Html.JLinkButton("btnSearchSJ4", "查询").SetOnclick("doSJ4Search();doCloseSearch();").ToMvcString()
        @Html.JLinkButton("btnResetSJ4", "清空").SetOnclick("doReset();").ToMvcString()
        @Html.JLinkButton("btnCloseSJ4", "关闭").SetOnclick("doCloseSearch();").ToMvcString()
        <div class="clear-both"></div>
    </li>
    <div class="clear-both"></div>
</ul>
<div class="clear-both"></div>