@using com.Bynonco.JqueryEasyUI.Core;
@{
    var statisticsPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetStatisticsPrivilige(User.Identity.Name);
}
<ul class="search">
    @if (statisticsPrivilige.IsEnableSJ6StatisticsExportDoc && false)
    {
        <li style='float:none;'>
            @Html.JLinkButton("btnSJ6StatisticsExportDoc", "导出doc").SetIconCls("icon-word").SetOnclick("doSJ6StatisticsExportDoc('');").ToMvcString()
        </li>
    }
    @if (statisticsPrivilige.IsEnableSJ6StatisticsExportTxt)
    {
        <li style='float:none;'>
            @Html.JLinkButton("btnSJ6StatisticsExportTxt", "导出txt").SetIconCls("icon-note").SetOnclick("doSJ6StatisticsExportTxt('');").ToMvcString()
        </li>
    }
    <li style='float:none; height:25px;'>
        @Html.JLinkButton("btnSJ6StatisticsExportClose", "关闭").SetIconCls("icon-cancel").SetOnclick("doCloseSearch();").ToMvcString()
    </li>
</ul>
