@using com.Bynonco.JqueryEasyUI.Core;
@{
    var statisticsPrivilige = com.Bynonco.LIMS.BLL.Business.Privilige.PriviligeFactory.GetStatisticsPrivilige(User.Identity.Name);
}
<ul class="search">
    @if (statisticsPrivilige.IsEnableSJ7StatisticsAuditPass)
    {
        <li style='float:none;'>
            @Html.JLinkButton("btnSJ7StatisticsAuditPass", "审核通过").SetIconCls("icon-pass").SetOnclick("doSJ7StatisticsAuditPass('');").ToMvcString()
        </li>
    }
    @if (statisticsPrivilige.IsEnableSJ7StatisticsAuditReject)
    {
        <li style='float:none;'>
            @Html.JLinkButton("btnSJ7StatisticsAuditReject", "审核不通过").SetIconCls("icon-no").SetOnclick("doSJ7StatisticsAuditReject('');").ToMvcString()
        </li>
    }
    @if (statisticsPrivilige.IsEnableSJ7StatisticsAuditWaitting)
    {
        <li style='float:none;'>
            @Html.JLinkButton("btnSJ7StatisticsAuditWaitting", "置为待审").SetIconCls("icon-info").SetOnclick("doSJ7StatisticsAuditWaitting('');").ToMvcString()
        </li>
    }
    <li style='float:none; height:25px;'>
        @Html.JLinkButton("btnSJ7StatisticsAuditClose", "关闭").SetIconCls("icon-cancel").SetOnclick("doCloseSearch();").ToMvcString()
    </li>
</ul>
