@model com.Bynonco.LIMS.Model.View.ViewSubject
<div class="layout-center-full">
    <div class="edit-box">
        <form id="frmSubjectEdit" action="#">
            @Html.Partial("Basic")
            @Html.Partial("BasicOperate")
        </form>
    </div>
</div>