@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../SchoolUser/Search")
    </div>
</div>
<div class="layout-center-full">
    @Html.Partial("../SchoolUser/List")
</div>
@Html.Partial("../SchoolUser/ScriptContainer")