@{
    Layout = ViewBag.Layout;
}
 <div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../EquipmentRepairFundsApply/EquipmentRepairFundsApplySearch")
    </div>
</div>
<div>@Html.Partial("../EquipmentRepairFundsApply/EquipmentDeptAuditList")</div>    
<div>@Html.Partial("../EquipmentRepairFundsApply/ScriptContainer")</div>    
<script type="text/javascript">
    function doSearch() {
        var queryExpression = generateQueryExpression();
        $("#tbEquipmentRepairFundsApplyEquipmentDeptAuidtList").datagrid('loadData', { total: 0, rows: [] });
        $("#tbEquipmentRepairFundsApplyEquipmentDeptAuidtList").datagrid("reload", { "queryExpression": queryExpression.trim(), "time": new Date().getMilliseconds() });
        return false;
    }
    function generateSelectedEquipmentRepairFundsApplyIds() {
        var ids = [];
        var rows = $("#tbEquipmentRepairFundsApplyEquipmentDeptAuidtList").datagrid("getSelections");
        if (rows && rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                ids.push(rows[i].Id);
            }
        }
        return ids.toString();
    }
</script>