@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}

<div class="layout-center-left">
    @Html.Partial("../TrainningType/UserAutherOrgTrainningTypeList")
</div>
<div class="layout-center-right">
    @Html.Partial("../TrainningExamination/List")
</div>
<div class="clear-both"></div>
@Html.Partial("../TrainningExamination/ScriptContainer")

