@model com.Bynonco.LIMS.Model.EquipmentOpenPractice
@{
    Layout = ViewBag.Layout;
}
<div class="layout-center-full">
    <div class="edit-box">
        <form id="frmEquipmentOpenPracticeEdit" action="#">
            @Html.Partial("../EquipmentOpenPractice/Basic")
            @Html.Partial("../EquipmentOpenPractice/BasicOperate")
        </form>
    </div>
</div>