@model com.Bynonco.LIMS.Model.EquipmentOpenPracticeExperience
@if (Model != null)
{
    <tr>
        <td style='text-align:center;'>@Model.ApplyDate</td>
        <td style='text-align:center;'>@Model.ApplyContent</td>
        <td style='text-align:center;'>@Model.ApplySuccess</td>
    </tr>
}