@using com.Bynonco.JqueryEasyUI.Core;
@{
    Layout = ViewBag.Layout;
}
<style type="text/css">
    #divSelectSemester{ padding:15px 20px; vertical-align:middle;}
    #divSelectSemester span.span-title{ font-size:14px; padding-right:3px;vertical-align:middle;}
</style>
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../EquipmentOpenPractice/Search")
    </div>
</div>
<div class="layout-center-full">
    <div id="divSelectSemester" style="border:1px solid #D3D3D3;border-bottom:0;"> 
        @Html.Partial("../Semester/SelectSemester")
    </div>
    <div>
        @Html.Partial("../EquipmentOpenPractice/List")
    </div>
</div>
@Html.Partial("../EquipmentOpenPractice/ScriptContainer")