@model com.Bynonco.LIMS.Model.EquipmentOpenPracticeMember
@if (Model != null)
{
    <tr>
        <td style='text-align:center;'>@Model.StudentName</td>
        <td style='text-align:center;'>@Model.StudentNumber</td>
        <td style='text-align:center;'>@Model.PracticePosition</td>
    </tr>
}