@model com.Bynonco.LIMS.Model.LabOrganization
<div  class="layout-center-full" style='background-color:#F7F7F7;'>
    <div class="edit-box">
        @Html.Partial("../LabOrganization/ExaminationSetting")
        @Html.Partial("../LabOrganization/ExaminationSettingOperate")
    </div>
</div>