@using com.Bynonco.JqueryEasyUI.Core;
<div class="search-grid hide">
    <div class="search-inner-box">
        @Html.Partial("../DepositRecord/Search")
    </div>
</div>
<div class="layout-center-full">
    @Html.Partial("../DepositRecord/TesterList")
</div>
@Html.Partial("../DepositRecord/ScriptContainer")