@model com.Bynonco.LIMS.Model.Business.BatchExecResult
<div id="divBatchExecResult" style="width:500px; height:200px; overflow-x:hidden; overflow-y:auto">
    <table class="edit-table" style="width:100%; height:100%;">
        <tr>
            <th>总数</th>
            <td>@Model.TotalCount</td>
        </tr>
        <tr>
            <th>成功</th>
            <td>@Model.SuccessedCount</td>
        </tr>
        <tr>
            <th>失败</th>
            <td>@Model.FailedCount</td>
        </tr>
        <tr>
            <th>错误信息</th>
            <td>@(System.Web.Mvc.MvcHtmlString.Create(Model.ErrorMessage))</td>
        </tr>
    </table>
</div>