@{
    var version = ViewData["FileVersion"] == null ? "" : ViewData["FileVersion"].ToString().Trim();
    var dateTime = DateTime.Now;
    
}
<div class="foot-left-bg"></div>
<div class="foot-right">
<p class="foot-right-first"> 版权所有@@北京科技大学</p>
<p class="foot-right-second">地址：北京市海淀区学院路30号 &nbsp| &nbsp 邮编: &nbsp 100083</p>
</div>
@*<p id="p_cnzz" style='margin:0;'>
<span style="margin-right:10px;">@(version)</span> Copyright © @(dateTime.Year) <a href='http://www.bynonco.com' target="_blank">广州佰能信息科技有限公司</a>.
   
</p>*@
