@{
    var version = ViewData["FileVersion"] == null ? "" : ViewData["FileVersion"].ToString().Trim();
    var dateTime = DateTime.Now;
}
<div class="foot-left-bg"></div>
<div class="foot-right">
<p class="foot-right-first">江西中医院大学<br />@(version)</p>
</div>