
<div id="divArticleRelationHelp"> 
    <table class="edit-table" style="width:300px;">
        <tr>
            <th>新增</th>
            <td>"文章管理-文章发布-编辑"<br />字段【关联分类】添加文章分类</td>
        </tr>
        <tr>
            <th>所属分类</th>
            <td>文章本身所属的文章分类</td>
        </tr>
        <tr>
            <th>关联分类</th>
            <td>文章将在关联分类中同步显示</td>
        </tr>
        <tr>
            <th>显示顺序</th>
            <td>置顶 > 发布时间(倒序)</td>
        </tr>
        <tr>
            <th>关联条件</th>
            <td>审核通过</td>
        </tr>
    </table>
</div>