@using com.Bynonco.JqueryEasyUI.Core;
@{string widthStr = ViewData["Width"] != null ? "width:" + ViewData["Width"].ToString() + "px" : "";}
<div  id="divManualTimeCostDeduct" style="@widthStr">
    <div class="search-grid hide">
        <div class="search-inner-box">
            @Html.Partial("../CostDeduct/ManualTimeCostDeductSearch")
        </div>
    </div>
    <div>@Html.Partial("../CostDeduct/ManualTimeCostDeductList")</div>
    <div style="display:none">@Html.Partial("../CostDeduct/ManualTimeCostDeductScriptContainer")</div>
</div>

